<div class="paragraph paragraph__post-block">
  <div class="paragraph__post-card--block">
    <div class = "paragraph__post-section">
      <div class="paragraph__post-card">
        <div class="paragraph__post-card--image">
          {{ fields.field_image.content }}
        </div>
        <div class="paragraph__post-card--details">
          <div class="paragraph__date">
            {{ fields.field_date.content }}
          </div>
          <div class="paragraph__title">
            {{ fields.title.content }}
          </div>
          <div class="paragraph__content">
            {{ fields.body.content }}
          </div>
          <div class="paragraph__cta">
            {{ fields.view_node.content }}
          </div>
          <div class="paragraph__tags">
            {{ fields.field_tags.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

